@import "custom";

@mixin shadow {
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
}

$aquamarine-half-opacity: rgba(127, 255, 212, 0.5);

/* GENERAL */
html,
body {
  overflow-x: hidden;
  overflow-wrap: anywhere;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

.section-title {
  text-decoration: underline;
  text-decoration-thickness: 0.25rem;
  text-decoration-color: aquamarine;
  text-underline-offset: 1rem;
}

.circle-img {
  @include shadow;
  border: 0.25rem solid aquamarine;
}

.btn {
  @include shadow;
  background-color: aquamarine;
  color: #222;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;

  &:focus {
    box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset !important;
  }

  body.hasHover &:hover {
    background-color: $aquamarine-half-opacity;
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.icon-button {
  @include shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: aquamarine;
  width: 3.25rem;
  height: 3.25rem;
  transition: background-color 0.2s ease-in-out;

  body.hasHover &:hover {
    background-color: $aquamarine-half-opacity;
    cursor: pointer;
  }

  .icon-button-fa {
    font-size: 1.5rem;
    color: #222;
  }
}

ul {
  // Remove indent
  padding-left: 20px;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.px-15px {
  padding-left: 15px;
  padding-right: 15px;
}

.mt-30px {
  margin-top: 30px;
}

.list-style-type-square {
  list-style-type: square;
}

.badge {
  background-color: aquamarine;
}
/* END GENERAL */

/* BACK TO TOP */
#back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  transition: all 0.5s ease-in-out;

  &.show {
    opacity: 0.75;
  }
}
/* END BACK TO TOP */

/* NAVBAR */
.navbar {
  pointer-events: none;
  color: aquamarine;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.5s ease-in-out;

  .nav-link {
    position: relative;
    text-align: left;

    a {
      body.hasHover &:hover {
        cursor: pointer;
      }

      &:before {
        content: "";
        background-color: aquamarine;
        position: absolute;
        width: 0;
        height: 0.125rem;
        bottom: 0;
        transition: all 0.5s ease;
      }

      body.hasHover &:hover:before,
      &.active-link:before {
        width: 2rem;
      }

      &.active-link {
        font-weight: 600;
      }
    }
  }
}

.navbar-nav {
  pointer-events: auto;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 50%;
  width: 2.25em;
  height: 2.25em;
  color: aquamarine;
  background-color: #222;
  border: 0.25rem solid aquamarine;
  transition: all 0.5s ease-in-out;

  body.hasHover &:hover {
    cursor: pointer;
    color: #222;
    background-color: aquamarine;
    border: 0.25rem solid #222;
  }
}

.navbar-reduce {
  @include shadow;
  color: #222;
  background-color: aquamarine;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .nav-link {
    a:before {
      background-color: #222;
    }
  }

  .navbar-brand {
    color: #222;
    background-color: transparent;
    border: none;

    body.hasHover &:hover {
      color: aquamarine;
      background-color: #222;
    }
  }
}

.navbar-toggler {
  pointer-events: auto;
  position: relative;

  &:focus,
  &:active {
    outline: 0;
  }

  span {
    display: block;
    background-color: aquamarine;
    height: 0.2rem;
    width: 1.5rem;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }

  .span-reduce {
    background-color: #222;
  }

  &:not(.collapsed) {
    span {
      &:nth-child(1) {
        position: absolute;
        left: 0.75rem;
        top: 0.625rem;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        height: 0.75rem;
        visibility: hidden;
      }

      &:nth-child(3) {
        position: absolute;
        left: 0.75rem;
        top: 0.625rem;
        transform: rotate(-135deg);
      }
    }
  }
}
/* END NAVBAR */

/* ABOUT */
#about-parallax {
  min-height: 100vh;
}

#about-content {
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.2) inset;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}

#about-particles {
  position: absolute;
  top: 0;
  width: 100%;
}
/* END ABOUT */

/* TESTIMONIALS */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237fffd4' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%237fffd4' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators {
  bottom: -2.5rem;

  li {
    background-color: #222;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }

  .active {
    background-color: aquamarine;
  }

  body.hasHover &:hover {
    cursor: pointer;
  }
}

.testimonial-link {
  color: #222;
  transition: color 0.2s ease-in-out;

  body.hasHover &:hover {
    color: aquamarine;
    text-decoration: none;
  }
}
/* END TESTIMONIALS */

/* PROJECTS */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: aquamarine;
}

.project-box {
  @include shadow;
  background-color: aquamarine;
  border-radius: 0.5rem;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3), 0 0 2.5rem rgba(0, 0, 0, 0.1) inset;
  }

  img {
    width: 100%;
    height: 300px;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  .badge {
    background-color: #f5f5f5;
  }

  .icon-button {
    background-color: #f5f5f5;

    body.hasHover &:hover {
      background-color: rgba(245, 245, 245, 0.5);
    }
  }
}
/* END PROJECTS */

/* SKILLS */
.skillCircle {
  margin: auto;
  width: 8rem;
  height: 8rem;
  overflow-wrap: normal;
}
/* END SKILLS */

/* FOOTER */
footer{
  @include shadow;
  background-color: aquamarine;
}
/* END FOOTER */